body {
    font-family: 'Lato', sans-serif;
    background-color: var(--white);
}

:root {
    --white: #fff;
    --cloud: #FAFAFA;
    --black: #000;
    --orange: #EE3D1B;
    --pink: #D52047;
    --light-pink: #ED4C5C;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

svg{
    pointer-events: none;
}

button {
    cursor: pointer;
    padding: 0;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* .container {
    width: 1110px;
    margin: 0 auto;
} */

.section-title {
    color: inherit;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

header{
    padding: 10px 0;
    z-index: 9;
}

.container{
    max-width: 100vw;
    padding: 0 20px;
    margin: 0 auto;
}

header .container{
    padding: 0 10px;
}

.nav-list{
    display: none;
}

.switch-lang{
    display: none;
}

.login-btn{
    display: none;
}

.header-nav{
    display: flex;
    justify-content: space-between;
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--white);
    font-size: 10pt;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-icon{
    width: 20px;
    height: 20px;
}

.burger-btn{
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}

.burger-icon{
    width: 24px;
    height: 24px;
    fill: var(--white);
}

.backdrop{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgb(250, 250, 250, 0.4);

    pointer-events: none;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 425px;
    height: 100%;
    padding: 40px;
    overflow: hidden;
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.80) 0%, rgba(238, 61, 27, 0.80) 100%), linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 100%);
    z-index: 9999;
}

.backdrop-active{
    pointer-events: all;
    opacity: 1;
}

.close-menu-btn{
    position: absolute;
    display: grid;
    place-items: center;
    top: 5px;
    right: 5px;
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: none;
}

.close-menu-icon{
    width: 38px;
    height: 38px;
}

.menu-nav-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
    z-index: 99999;
}

.menu .nav-link {
    color: var(--white);
    font-size: 24px;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
}

.menu-switch-lang{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 11px;
    margin-right: 26px;
    color: var(--white);
    font-size: 18px;
    text-transform: uppercase;
    z-index: 99999;
}

.switch-lang-icon{
    width: 32px;
    height: 32px;
}

.menu-btns-wrapper{
    display: flex;
    justify-content: space-around;
    z-index: 99999;
}

.menu-btn {
    min-width: 100px;
    height: 40px;
    background-color: #fff;
    border-radius: 6px;
    border: 0.1em solid var(--pink);
    outline: none;

    color: var(--pink);
    text-align: center;
    font-size: 14px;
    line-height: 0;
    text-transform: uppercase;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

.menu-btn:hover,
.menu-btn:focus {
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.80) 0%, rgba(238, 61, 27, 0.80) 100%), linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 100%);
    color: #fff;
}

.cloud{
    position: absolute;
    bottom: -20px;
    left: 36%;
    transform: translate(-50%);
    min-width: 320px;
    max-width: 100%;
    height: 200px;
    z-index: 99991;
}

.cloud-1{
    position: absolute;
    right: -50px;
    width: 78%;
    height: 250px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 1px 15px rgba(157, 50, 50, 0.5);
    border-top: 7px solid #ebe9e9;
    border-left: 2px solid #ebe9e9;
}

.cloud-2{
    position: absolute;
    left: 60px;
    top: 40px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #fff;
    border-top: 3px solid #ebe9e9;
    border-left: 4px solid #ebe9e9;
}

.cloud-3{
    position: absolute;
    left: -40px;
    bottom: -120px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #fff;
    border-top: 5px solid #f6f5f5;
}

.cloud-4{
    position: absolute;
    width: 300px;
    height: 300px;
    right: -220px;
    bottom: -150px;
    border-radius: 50%;
    background-color: #fff;
    border-top: 5px solid #f6f5f5;
}


/* HERO */

.hero{
    padding: 50px 0 72px;
    color: var(--white);
    text-align: center;
}

.bg-box {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 350px;
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.80) 0%, rgba(238, 61, 27, 0.80) 100%), url("./img/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hero-title{
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.054em;
    text-transform: uppercase;
}

.hero-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    max-width: 450px;
    max-width: 280px;
}

.hero-btn {
    width: 80px;
    height: 30px;
    background-color: var(--white);
    border: 2px solid var(--white);
    border-radius: 6px;

    color: var(--pink);
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: transparent;
    color: var(--white);
}
/* HERO */

/* ABOUT */
.about{
    padding: 40px 0;
}

.about-text {
    color: #000;
    text-align: justify;
    font-size: 14px;
    line-height: 140%;
    max-width: 445px;
    margin: 25px 0;
}

.about-link {
    display: block;
    color: var(--pink);
    font-size: 12px;
    line-height: 140%;
    margin-top: 5px;
}

.about-video-wrapper {
    position: relative;
    margin-top: 40px;
}

.about-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}

.about-img {
    border-radius: 28px;
    width: 100%;
    aspect-ratio: 89/62;
}
/* ABOUT */

/* FEATURES */
.features{
    padding: 40px 0 90px;
    background-color: var(--cloud);
    text-align: center;
    color: var(--black);
}

.features-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 85px;
    margin-top: 30px;
}

.features-list li{
    position: relative;
    width: 290px;
    height: 205px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.features-card-1{
    background-image: url("./img/features-1.jpg");
}
.features-card-2 {
    background-image: url("./img/features-2.jpg");
}
.features-card-3 {
    background-image: url("./img/features-3.jpg");
}

.features-info {
    position: absolute;
    top: 90px;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    height: 170px;
    padding: 20px;
    z-index: 5;

    transform: translateX(-50%);
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.10);
    text-align: center;
}

.features-card-title {
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.features-card-text {
    font-size: 13px;
    line-height: 150%;
}

.features-card-link {
    color: var(--pink);
    font-size: 10px;
    font-weight: 700;
    line-height: 150%;
    text-decoration: none;
}
/* FEATURES */

/* TECHNOLOGY */
.technology{
    padding: 40px 0;
    text-align: center;
    color: var(--black);
}

.technology-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.technology-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 226px;
    padding: 65px 0 24px;
}


.technology-icon-box {
    position: relative;
    width: 80px;
    height: 60px;
}

.technology-icon-1 {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
}

.technology-icon-2 {
    width: 65px;
    height: 65px;
}

.technology-icon-3 {
    position: absolute;
    top: -11px;
    left: 50%;
    transform: translateX(-50%);
    width: 72px;
    height: 72px;
}

.technology-icon-4 {
    width: 56px;
    height: 60px;
}

.technology-card-title {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}

.technology-card-text {
    font-size: 12px;
    line-height: normal;
    max-width: 191px;
}

.technology-card-bg-text {
    position: absolute;
    top: 0;
    color: rgba(16, 16, 16, 0.08);
    font-size: 100px;
    font-weight: 700;
    line-height: normal;
}
/* TECHNOLOGY */

/* APP */
.app{
    padding: 40px 0;
    background-color: var(--light-pink);
    color: var(--white);
}

.app .container{
    display: grid;
    place-items: center;
}

.app-info {
    margin-bottom: 30px;
}

.app-text {
    font-size: 14px;
    line-height: 140%;
    margin: 30px 0;
    text-align: justify;
}

.app-list {
    display: flex;
    gap: 20px;
}

.app-list-link{
    display: block;
}

.app-icon {
    width: 30px;
    height: 30px;
}

.app-imgs-box {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 425px;
}

.app-imgs-box img {
    border-radius: 16px;
}

.app-img-main {
    z-index: 2;
    width: 240px;
}

.app-img-right {
    position: absolute;
    right: 0;
    width: 200px;
}

.app-img-left {
    position: absolute;
    left: 0;
    width: 200px;
}

.app-bg-color {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(237, 76, 92, 0.5);
    z-index: 1;
}
/* APP */

/* CONTACTS */
.contact{
    padding: 40px 0;
}

.contact-wrapper {
    margin-bottom: 30px;
}

.contact-text{
    text-align: justify;
    font-size: 14px;
    line-height: 1.4;
    margin-top: 30px;
}

.contact-form input {
    border-radius: 6px;
    border: 1px solid #888;
    padding: 10px 20px;
    outline: none;
    height: 40px;
    width: 100%;

    color: rgba(19, 39, 67, 0.90);
    font-size: 16px;
    line-height: normal;
}

.form-full-name, .form-tel-services-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.form-btn {
    width: 140px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid var(--light-pink);
    background: var(--light-pink);

    color: var(--white);
    font-size: 12px;
    line-height: normal;
    text-transform: uppercase;
}

.form-services-wrapper{
    position: relative;
}

.form-selected-service{
    border-radius: 6px;
    border: 1px solid #888;
    padding: 10px 20px;
    height: 40px;
    width: 100%;
    
    color: rgba(19, 39, 67, 0.70);
    font-size: 16px;
    line-height: normal;
    cursor: pointer;
}

.form-services-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    bottom: 62px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0px 2px 20px #3c3c3c70;
    padding: 2px;

    opacity: 0;
    pointer-events: none;
    transition: opacity .4s ease-in-out;
}

.form-services-list.selecting{
    opacity: 1;
    pointer-events: all;
}

.form-select-item{
    padding: 10px 20px;
    border-radius: 6px;
    color: rgba(19, 39, 67, 0.70);
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color .15s ease-in-out .05s;
}

.form-select-item:hover,
.form-select-item:focus{
    background-color: hsla(0, 0%, 24%, 0.15);
}
/* CONTACTS */

/* FOOTER */
footer {
    padding: 40px 0;
    background-color: var(--cloud);
    color: var(--black);
}

footer .container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

footer h3 {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.footer-address-link {
    display: block;
    color: inherit;
    font-size: 12px;
    line-height: 1.6;
    max-width: 145px;
    text-decoration: none;
}

.footer-srvices-title{
    margin-bottom: 14px;
}

.footer-services-item {
    line-height: 0;
    text-transform: capitalize;
}

.footer-services-link {
    color: inherit;
    font-size: 12px;
    text-decoration: none;
    line-height: 1.6;
}

.footer-contact-list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    line-height: 0;
}

.footer-contact-link {
    color: inherit;
    font-size: 12px;
    line-height: normal;
    text-decoration: none;
}

.footer-social-list {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

.footer-social-icon {
    width: 14px;
    height: 14px;
}

.copyright {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 426px) {
    .section-title {
        font-size: 26px;
        font-weight: 600;
    }

    .container {
        max-width: 100vw;
        padding: 0 40px;
        margin: 0 auto;
    }

    .hero{
        padding: 55px 0 92px;
    }

    .hero-text{
        min-width: 450px;
    }

    .about{
        padding: 60px 0;
    }

    .about-text{
        min-width: 100%;
    }

    .about-video-wrapper{
        display: grid;
        place-items: center;
    }

    .about-img{
        width: 90%;
    }

    .features{
        padding: 50px 0 110px;
    }

    .features-list{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 85px 40px;
    }

    .technology{
        padding: 50px 0;
    }

    .technology-list{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .app{
        padding: 60px 0;
    }

    .app-list{
        justify-content: center;
        gap: 24px;
    }
    
    .app-icon{
        width: 36px;
        height: 36px;
    }

    .app-imgs-box{
        max-width: 500px;
    }

    .app-img-main{
        width: 300px;
    }

    .app-img-left, .app-img-right{
        width: 260px;
    }

    .contact{
        padding: 60px 0;
    }

    .form-full-name, .form-tel-services-wrapper{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .form-services-wrapper{
        min-width: calc((100% - 20px) / 2);
    }

    footer{
        padding: 60px 0;
    }

    .copyright{
        position: absolute;
        bottom: -30px;
    }
}