body {
    font-family: 'Lato', sans-serif;
    background-color: var(--white);
}

:root{
    --white: #fff;
    --black: #000;
    --orange: #EE3D1B;
    --pink: #D52047;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

button{
    cursor: pointer;
}

.list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    width: 1110px;
    margin: 0 auto;
}

.section-title{
    color: inherit;
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
}

/* HEADER */
header{
    padding: 50px 0;
    background-color: transparent;
}

header .container{
    display: flex;
    align-items: center;
} 

.header-nav{
    display: flex;
    align-items: center;
    margin-right: 113px;
    width: 100%;
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 161px;
}

.logo-icon{
    width: 29px;
    height: 29px;
}

.nav-list{
    display: flex;
    gap: 22px;
}

.nav-link{
    color: var(--white);
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.switch-lang{
    display: flex;
    align-items: center;
    gap: 11px;
    margin-right: 26px;
    color: var(--white);
    font-size: 14px;
    text-transform: uppercase;
}

.switch-lang-icon{
    width: 32px;
    height: 32px;
}

.login-btn{
    min-width: 100px;
    height: 40px;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid var(--white);
    outline: none;

    color: var(--white);
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

/* HERO */

.hero{
    padding: 132px 0 187px;
    color: var(--white);
    text-align: center;
}

.bg-box{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 782px;
    background-image:linear-gradient(90deg, rgba(213, 32, 71, 0.80) 0%, rgba(238, 61, 27, 0.80) 100%), url("./img/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: left; 
}

.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;
}

.hero-title{
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.054em;
    text-transform: uppercase;
}

.hero-text{
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    max-width: 450px;
}

.hero-btn{
    width: 160px;
    height: 50px;
    background-color: var(--white);
    border: 1px solid transparent;
    border-radius: 6px;

    color: var(--pink);
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
/* HERO */

/* ABOUT US */
.about{
    padding: 94px 0;
}

.about .container{
    display: flex;
    gap: 125px;
}

.about .section-title{
    margin-bottom: 24px;
}

.about-text{
    color: #000;
    text-align: justify;
    font-size: 14px;
    line-height: 140%;
    max-width: 445px;
    margin-bottom: 18px;
}

.about-link{
    color: var(--pink);
    font-size: 14px;
    line-height: 140%;
}

.about-video-wrapper{
    position: relative;
}

.about-icon{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 66px;
    height: 66px;
}

.about-img{
    border-radius: 15px;
    width: 445px;
    height: 311px;
}
/* ABOUT US */

/* FEATURES */
.features{
    padding: 63px 0 229px;
    background-color: #FAFAFA;
    text-align: center;
    color: var(--black);
}

.features .section-title{
    margin-bottom: 75px;
}

.features-list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.features-list li{
    position: relative;
    width: 350px;
    height: 250px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.features-card-1{
    background-image: url("./img/features-1.jpg");
}
.features-card-2 {
    background-image: url("./img/features-2.jpg");
}
.features-card-3 {
    background-image: url("./img/features-3.jpg");
}

.features-info{
    position: absolute;
    top: 157px;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 293px;
    height: 198px;
    padding: 33px 32px 25px;

    transform: translateX(-50%);
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.10);
}

.features-card-title{
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}

.features-card-text{
    font-size: 12px;
    line-height: 150%;
}

.features-card-link{
    color: var(--pink);
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
    text-decoration: none;
}
/* FEATURES */

/* TECHNOLOGY */
.technology{
    padding: 63px 0 104px;
    text-align: center;
    color: var(--black);
}

.technology .section-title{
    margin-bottom: 64px;
}

.technology-list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.technology-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 255px;
    height: 226px;
    padding: 65px 0 24px;
}

.technology-icon-box{
    position: relative;
    width: 80px;
    height: 80px;
}

.technology-icon-1{
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
}

.technology-icon-2 {
    width: 65px;
    height: 65px;
}
.technology-icon-3 {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 74px;
    height: 74px;
}

.technology-icon-4 {
    width: 60px;
    height: 65px;
}

.technology-card-title{
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}

.technology-card-text{
    font-size: 12px;
    line-height: normal;
    max-width: 191px;
}

.technology-card-bg-text{
    position: absolute;
    top: 0;
    color: rgba(16, 16, 16, 0.08);
    font-size: 100px;
    font-weight: 700;
    line-height: normal;
}
/* TECHNOLOGY */

/* APP */
.app{
    padding: 94px 0;
    background-color: #ed4c5c;
    color: var(--white);
}

.app .container{
    display: flex;
    gap: 81px;
}

.app-info{
    padding: 28px 0 16px;
    max-width: 445px;
}

.app-text{
    font-size: 14px;
    line-height: 140%;
    margin: 45px 0 40px;
}

.app-list{
    display: flex;
    gap: 23px;
}

.app-icon{
    width: 32px;
    height: 32px;
}

.app-imgs-box{
    position: relative;
    display: grid;
    place-items: center;
    min-width: 533px;
    height: 311px;
}

.app-imgs-box img{
    border-radius: 16px;
}

.app-img-main{
    z-index: 2;
}

.app-img-right{
    position: absolute;
    right: 0;
}

.app-img-left{
    position: absolute;
    left: 0;
}

.app-bg-color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(237, 76, 92, 0.5);
    z-index: 1;
}
/* APP */